In [1]:
#Importando as bibliotecas
import pandas as pd

In [2]:
#setando a variaveis do nome do arquivo para leitura e para gravação
filepath = "datafolder/toptvshow_data/Top IMDB Rated TV Shows.csv"
filesaved = "datafolder/toptvshow_data/top_imdb_rated_tv_shows_prd.csv"

In [3]:
#lendo arquivo e criando o dataframe
df = pd.read_csv(filepath)
df.head()

,Unnamed: 0,id,name,origin_country,original_language,original_name,popularity,vote_average,vote_count
0,0,130392,The D'Amelio Show,['US'],en,The D'Amelio Show,15.457,9.4,2727
1,1,100,I Am Not an Animal,['GB'],en,I Am Not an Animal,11.155,9.2,709
2,2,94605,Arcane,['US'],en,Arcane,123.962,9.1,2191
3,3,124834,Heartstopper,['GB'],en,Heartstopper,209.484,9.0,326
4,4,19239,"Conan, the Boy in Future",['JP'],ja,未来少年コナン,25.246,9.0,103

In [4]:
#vendo as colunas e linhas do dataframe criado
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2460 non-null   int64
 1   id                 2460 non-null   int64
 2   name               2460 non-null   object
 3   origin_country     2460 non-null   object
 4   original_language  2460 non-null   object
 5   original_name      2460 non-null   object
 6   popularity         2460 non-null   float64
 7   vote_average       2460 non-null   float64
 8   vote_count         2460 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 173.1+ KB

In [5]:
#verificando quantas abreviaturas temos na coluna languages
df.groupby("original_language")["id"].count()

original_language
ar       2
ca       2
da       6
de      13
en    1588
es     283
fr      17
he       1
hi       4
is       2
it       9
ja     380
ko      87
nl       1
no       5
pl       2
pt      20
ru       5
sv       5
th       2
tr      18
zh       8
Name: id, dtype: int64

In [6]:
#criando um dicionário com a abreviação das linguas

lang = {
        "de":"Alemão",
        "ar":"Árabe",
        "bn":"Bengali",
        "zh":"Chinês",
        "ko":"Coreano",
        "da":"Dinamarquês",
        "sk":"Eslovaco",
        "sl":"Esloveno",
        "es":"Espanhol",
        "fi":"Finlandês",
        "fr":"Francês",
        "el":"Grego",
        "nl":"Holandês",
        "hu":"Húngaro",
        "hi":"Indiano",
        "id":"Indonésio",
        "en":"Inglês",
        "it":"Italiano",
        "ja":"Japonês",
        "no":"Norueguês",
        "pl":"Polonês",
        "pt":"Português",
        "ro":"Romeno",
        "ru":"Russo",
        "sr":"Sérvio-cirílico",
        "sv":"Sueco",
        "th":"Tailandês",
        "cs":"Tcheco",
        "tr":"Turco",
        "ca":"Catalan",
        "he":"Hebrew Hebraico",
        "is":"Icelandic Islandesa"
}

In [7]:
#Traduzindo as abreviações e verificando como ficaram os resultados
df_translated = df.replace({"original_language":lang})
df_translated.groupby("original_language")["id"].count()

original_language
Alemão                   13
Catalan                   2
Chinês                    8
Coreano                  87
Dinamarquês               6
Espanhol                283
Francês                  17
Hebrew Hebraico           1
Holandês                  1
Icelandic Islandesa       2
Indiano                   4
Inglês                 1588
Italiano                  9
Japonês                 380
Norueguês                 5
Polonês                   2
Português                20
Russo                     5
Sueco                     5
Tailandês                 2
Turco                    18
Árabe                     2
Name: id, dtype: int64

In [8]:
#listar colunas existentes no dataframe
df_translated.columns

Index(['Unnamed: 0', 'id', 'name', 'origin_country', 'original_language',
       'original_name', 'popularity', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
#Dropar colunas nao utilizadas
df_translated.drop("Unnamed: 0",axis=1,inplace=True)

In [10]:
#Renomear colunas
df_colunas = ["ID","Nome","Pais_Origem","Idioma_Origem","Nome_Origem","Popularidade","Nota_Votos","Contagem_Votos"] 
df_translated.columns = df_colunas
df_translated.head()

,ID,Nome,Pais_Origem,Idioma_Origem,Nome_Origem,Popularidade,Nota_Votos,Contagem_Votos
0,130392,The D'Amelio Show,['US'],Inglês,The D'Amelio Show,15.457,9.4,2727
1,100,I Am Not an Animal,['GB'],Inglês,I Am Not an Animal,11.155,9.2,709
2,94605,Arcane,['US'],Inglês,Arcane,123.962,9.1,2191
3,124834,Heartstopper,['GB'],Inglês,Heartstopper,209.484,9.0,326
4,19239,"Conan, the Boy in Future",['JP'],Japonês,未来少年コナン,25.246,9.0,103

In [11]:
#tratamento da coluna Pais_origem
df_translated["Pais_Origem"].replace("[]","NaN",inplace=True)

df_translated["Pais_Origem"] = df_translated["Pais_Origem"].str.split("[")
df_translated= df_translated.explode("Pais_Origem")

df_translated["Pais_Origem"] = df_translated["Pais_Origem"].str.split("]")
df_translated= df_translated.explode("Pais_Origem")

df_translated["Pais_Origem"].replace(regex="",value=float("NaN"),inplace=True)
df_translated.dropna(subset="Pais_Origem",inplace=True)

df_translated["Pais_Origem"].replace(regex="'",value="",inplace=True)

df_translated.head()

,ID,Nome,Pais_Origem,Idioma_Origem,Nome_Origem,Popularidade,Nota_Votos,Contagem_Votos
0,130392,The D'Amelio Show,US,Inglês,The D'Amelio Show,15.457,9.4,2727
1,100,I Am Not an Animal,GB,Inglês,I Am Not an Animal,11.155,9.2,709
2,94605,Arcane,US,Inglês,Arcane,123.962,9.1,2191
3,124834,Heartstopper,GB,Inglês,Heartstopper,209.484,9.0,326
4,19239,"Conan, the Boy in Future",JP,Japonês,未来少年コナン,25.246,9.0,103

In [12]:
#criando dicionario para traduzir a coluna Pais_Origem
pais_lang = {
            "AF":"Afeganistão",
            "ZA":"África do Sul",
            "AL":"Albânia",
            "DE":"Alemanha",
            "AD":"Andorra",
            "AO":"Angola",
            "AI":"Anguilla",
            "AQ":"Antártida",
            "AG":"Antígua e Barbuda",
            "AN":"Antilhas Holandesas",
            "SA":"Arábia Saudita",
            "DZ":"Argélia",
            "AR":"Argentina",
            "AM":"Armênia",
            "AW":"Aruba",
            "AU":"Austrália",
            "AT":"Áustria",
            "AZ":"Azerbaijão",
            "BS":"Bahamas",
            "BH":"Bahrein",
            "BD":"Bangladesh",
            "BB":"Barbados",
            "BY":"Belarus",
            "BE":"Bélgica",
            "BZ":"Belize",
            "BJ":"Benin",
            "BM":"Bermudas",
            "BO":"Bolívia",
            "BQ-BO":"Bonaire",
            "BA":"Bósnia-Herzegóvina",
            "BW":"Botsuana",
            "BR":"Brasil",
            "BN":"Brunei",
            "BG":"Bulgária",
            "BF":"Burkina Fasso",
            "MM":"Burma (Myamar)",
            "BI":"Burundi",
            "BT":"Butão",
            "CV":"Cabo Verde",
            "CM":"Camarões",
            "KH":"Camboja",
            "CA":"Canadá",
            "KZ":"Cazaquistão",
            "TD":"Chade",
            "CL":"Chile",
            "CN":"China",
            "CY":"Chipre",
            "SG":"Cingapura",
            "CO":"Colômbia",
            "CG":"Congo",
            "KP":"Coréia do Norte",
            "KR":"Coréia do Sul",
            "CI":"Costa do Marfim",
            "CR":"Costa Rica",
            "HR":"Croácia (Hrvatska)",
            "CU":"Cuba",
            "CW":"Curação",
            "DK":"Dinamarca",
            "DJ":"Djibuti",
            "DM":"Dominica",
            "EG":"Egito",
            "SV":"El Salvador",
            "AE":"Emirados árabes Unidos",
            "EC":"Equador",
            "ER":"Eritréia",
            "SK":"Eslováquia",
            "SI":"Eslovênia",
            "ES":"Espanha",
            "US":"Estados Unidos",
            "EE":"Estônia",
            "ET":"Etiópia",
            "FJ":"Fiji",
            "PH":"Filipinas",
            "FI":"Finlândia",
            "FR":"França",
            "GA":"Gabão",
            "GM":"Gâmbia",
            "GH":"Gana",
            "GE":"Geórgia",
            "GI":"Gibraltar",
            "GB":"Grã-Bretanha (Reino Unido, UK)",
            "GD":"Granada",
            "GR":"Grécia",
            "GL":"Groelândia",
            "GP":"Guadalupe",
            "GU":"Guam (Território dos EUA)",
            "GT":"Guatemala",
            "G":"Guernsey",
            "GY":"Guiana",
            "GF":"Guiana Francesa",
            "GN":"Guiné",
            "GQ":"Guiné Equatorial",
            "GW":"Guiné-Bissau",
            "HT":"Haiti",
            "NL":"Holanda",
            "HN":"Honduras",
            "HK":"Hong Kong",
            "HU":"Hungria",
            "YE":"Iêmen",
            "BV":"Ilha Bouvet (Terr. Noruega)",
            "IM":"Ilha do Homem",
            "CX":"Ilha Natal",
            "PN":"Ilha Pitcairn",
            "RE":"Ilha Reunião",
            "AX":"Ilhas Aland",
            "ES-CN":"Ilhas Canárias",
            "KY":"Ilhas Cayman",
            "CC":"Ilhas Cocos",
            "KM":"Ilhas Comores",
            "CK":"Ilhas Cook",
            "FK":"Ilhas Falkland (Malvinas)",
            "FO":"Ilhas Faroes",
            "GS":"Ilhas Geórgia Sul e Sandwich Sul",
            "HM":"Ilhas Heard e McDonald (Terr. Austrália)",
            "MP":"Ilhas Marianas do Norte",
            "MH":"Ilhas Marshall",
            "UM":"Ilhas Menores dos EUA",
            "NF":"Ilhas Norfolk",
            "SC":"Ilhas Seychelles",
            "SB":"Ilhas Solomão",
            "SJ":"Ilhas Svalbard e Jan Mayen",
            "TK":"Ilhas Tokelau",
            "TC":"Ilhas Turks e Caicos",
            "VI":"Ilhas Virgens (EUA)",
            "VG":"Ilhas Virgens (Inglaterra)",
            "WF":"Ilhas Wallis e Futuna",
            "IN":"índia",
            "ID":"Indonésia",
            "IR":"Irã",
            "IQ":"Iraque",
            "IE":"Irlanda",
            "IS":"Islândia",
            "IL":"Israel",
            "IT":"Itália",
            "JM":"Jamaica",
            "JP":"Japão",
            "JE":"Jersey",
            "JO":"Jordânia",
            "KE":"Kênia",
            "KI":"Kiribati",
            "KO":"Kosovo",
            "KW":"Kuait",
            "LA":"Laos",
            "LS":"Lesoto",
            "LV":"Letônia",
            "LB":"Líbano",
            "LR":"Libéria",
            "LY":"Líbia",
            "LI":"Liechtenstein",
            "LT":"Lituânia",
            "LU":"Luxemburgo",
            "MO":"Macau",
            "MK":"Macedônia (Rep.Yugoslava)",
            "MG":"Madagascar",
            "MY":"MalÁsia",
            "MW":"Malaui",
            "MV":"Maldivas",
            "ML":"Mali",
            "MT":"Malta",
            "MA":"Marrocos",
            "MQ":"Martinica",
            "MU":"Maurício",
            "MR":"Mauritânia",
            "YT":"Mayotte",
            "MX":"México",
            "FM":"Micronésia",
            "MZ":"Moçambique",
            "MD":"Moldova",
            "MC":"Mônaco",
            "MN":"Mongólia",
            "ME":"Montenegro",
            "MS":"Montserrat",
            "NA":"Namíbia",
            "NR":"Nauru",
            "NP":"Nepal",
            "NI":"Nicarágua",
            "NE":"Níger",
            "NG":"Nigéria",
            "NU":"Niue",
            "NO":"Noruega",
            "NC":"Nova Caledônia",
            "NZ":"Nova Zelãndia",
            "OM":"Omã",
            "PW":"Palau",
            "PS":"Palestina/Gaza",
            "PA":"Panamá",
            "PG":"Papua-Nova Guiné",
            "PK":"Paquistão",
            "PY":"Paraguai",
            "PE":"Peru",
            "PF":"Polinésia Francesa",
            "PL":"Polônia",
            "PR":"Porto Rico",
            "PT":"Portugal",
            "QA":"Qatar",
            "KG":"Quirguistão",
            "CF":"República Centro-Africana",
            "CD":"Repúb. Democrática do Congo",
            "DO":"República Dominicana",
            "CZ":"República Tcheca",
            "RO":"Romênia",
            "RW":"Ruanda",
            "RU":"Rússia (URSS) - Federação Russa",
            "EH":"Saara Ocidental",
            "BQ-SA":"Saba",
            "AS":"Samoa Americana",
            "WS":"Samoa Ocidental",
            "SM":"San Marino",
            "SH":"Santa Helena",
            "LC":"Santa Lúcia",
            "BQ-SE":"Santo Eustáquio",
            "BL":"São Bartolomeu",
            "KN":"São Cristóvão e Névis (Kitts)",
            "SX":"São Maarten",
            "MF":"São Martim",
            "PM":"São Pedro e Miquelon",
            "ST":"São Tomé e Príncipe",
            "VC":"São Vincente e Granadinas",
            "SN":"Senegal",
            "SL":"Serra Leoa",
            "RS":"Sérvia",
            "SY":"Síria",
            "SO":"Somália",
            "LK":"Sri Lanka",
            "SZ":"Suazilândia",
            "SD":"Sudão",
            "SS":"Sudão do Sul",
            "SE":"Suécia",
            "CH":"Suíça",
            "SR":"Suriname",
            "TJ":"Tadjiquistão",
            "TH":"Tailândia",
            "TW":"Taiwan",
            "TZ":"Tanzânia",
            "IO":"Terr. Britãnico do Oceano índico",
            "TF":"Territórios do Sul da França",
            "PS":"Territórios Palestinos Ocupados",
            "TP":"Timor Leste",
            "TG":"Togo",
            "TO":"Tonga",
            "TT":"Trinidade e Tobago",
            "TN":"Tunísia",
            "TM":"Turcomenistão",
            "TR":"Turquia",
            "TV":"Tuvalu",
            "UA":"Ucrânia",
            "UG":"Uganda",
            "UY":"Uruguai",
            "UZ":"Uzbequistão",
            "VU":"Vanuatu",
            "VA":"Vaticano",
            "VE":"Venezuela",
            "VN":"Vietnã",
            "ZM":"Zâmbia",
            "ZW":"Zimbábue"

}

In [13]:
#Visualizando resultado atual
df_translated.groupby("Pais_Origem")["ID"].count()

Pais_Origem
AR            11
AR, BR         1
AT             1
AT, DE         1
AU             8
              ..
US, GB, NZ     1
US, JP         3
US, MX         5
VE             1
ZA             2
Name: ID, Length: 78, dtype: int64

In [14]:
#Observando que temos casos na sigla em que a quantidade de caracteres são maiores que 2, iremos agrupar e chama-los de "Multiplos Paises"
multiples_contries = df_translated["Pais_Origem"].apply(len) > 2
df_translated["Pais_Origem"].loc[multiples_contries == True] = "Multiplos Países"

C:\Users\35383\AppData\Local\Temp\ipykernel_1532\1947428737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_translated["Pais_Origem"].loc[multiples_contries == True] = "Multiplos Países"

In [15]:
#plotando novamente o resultado para verificar o tratamento
df_translated.groupby("Pais_Origem")["ID"].count()

Pais_Origem
AR                    11
AT                     1
AU                     8
BE                     3
BR                    19
CA                    31
CL                     3
CN                     8
CO                    52
DE                    11
DK                     6
EG                     1
ES                    45
FR                    17
GB                   151
IE                     1
IL                     1
IN                     4
IS                     2
IT                    11
JO                     1
JP                   374
KR                    86
MX                   138
Multiplos Países     131
NO                     6
NZ                     1
PE                     1
PH                     1
PL                     2
PR                     2
RU                     4
SE                     5
TH                     2
TR                    19
US                  1298
VE                     1
ZA                     2
Name: ID, dtype: int64

In [16]:
#Com o tratamento correto, vamos começar a tradução da coluna Pais_Origem

df_translated_all = df_translated.replace({"Pais_Origem":pais_lang})
df_translated_all.head()

,ID,Nome,Pais_Origem,Idioma_Origem,Nome_Origem,Popularidade,Nota_Votos,Contagem_Votos
0,130392,The D'Amelio Show,Estados Unidos,Inglês,The D'Amelio Show,15.457,9.4,2727
1,100,I Am Not an Animal,"Grã-Bretanha (Reino Unido, UK)",Inglês,I Am Not an Animal,11.155,9.2,709
2,94605,Arcane,Estados Unidos,Inglês,Arcane,123.962,9.1,2191
3,124834,Heartstopper,"Grã-Bretanha (Reino Unido, UK)",Inglês,Heartstopper,209.484,9.0,326
4,19239,"Conan, the Boy in Future",Japão,Japonês,未来少年コナン,25.246,9.0,103

In [17]:
#Agora vamos criar uma metrica unica para avaliação das series baseada nos indicadores que possuimos, iremos utilizar a equação abaixo:

# Weighted Rating (WR) = ((v*(v+m))*r) + ((m*(v+m))*c)

#The following apply:

#v is the number of votes garnered by the movie
#m is the minimum number of votes required for the movie to be in the chart (the prerequisite)
#R is the mean rating of the movie
#C is the mean rating of all the movies in the dataset

m = df_translated_all["Contagem_Votos"].quantile(0.80)
C = df_translated_all["Nota_Votos"].mean()

def weighted_rating(x, m=m, C=C):
    v = x['Contagem_Votos']
    R = x['Nota_Votos']
    ## Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)


df_translated_all["Score"] = df_translated_all.apply(weighted_rating, axis=1)

df_translated_all.head()

,ID,Nome,Pais_Origem,Idioma_Origem,Nome_Origem,Popularidade,Nota_Votos,Contagem_Votos,Score
0,130392,The D'Amelio Show,Estados Unidos,Inglês,The D'Amelio Show,15.457,9.4,2727,9.066250
1,100,I Am Not an Animal,"Grã-Bretanha (Reino Unido, UK)",Inglês,I Am Not an Animal,11.155,9.2,709,8.477750
2,94605,Arcane,Estados Unidos,Inglês,Arcane,123.962,9.1,2191,8.774630
3,124834,Heartstopper,"Grã-Bretanha (Reino Unido, UK)",Inglês,Heartstopper,209.484,9.0,326,8.136747
4,19239,"Conan, the Boy in Future",Japão,Japonês,未来少年コナン,25.246,9.0,103,7.889755

In [18]:
#Filtrando TV shows e Series com Score >8
df_translated_all_query = df_translated_all.query('Score > 8')

#Agrupando os campos escolhidos
df_translated_all_query_group = df_translated_all_query.groupby(["ID","Nome","Nome_Origem","Idioma_Origem","Pais_Origem"]).agg({"Popularidade":"sum","Nota_Votos":"sum","Contagem_Votos":"sum"})
df_translated_all_query_group = df_translated_all_query_group.reset_index()
df_translated_all_query_group.set_index("ID",inplace=True)

In [19]:
df_translated_all_query_group.to_csv(filesaved)